{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}
{% block body_block %}

{% if user.is_authenticated %}
Add a comment to {{post.title}}:
<ul>
	<form id="CommentForm" method="post" action =  "{% url 'add_comment' post.slug %}"/>
	{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
	<input class = "btn btn-default" type="submit" name="Add comm" value="Add comment" action ="{% url 'index' %}"/>
	</form>
</ul>
{% else %}
    <strong>User not authenticated.</strong><br/>
    {% endif %}
{% endblock %}