<!DOCTYPE html>
{% load staticfiles %}
{% if user.is_anonymous%}
{%else%}
{% load socialaccount %}
{% get_social_accounts user as accounts %}
{% get_providers as socialaccount_providers %}
{%endif%}



<html lang="en">
<head>
  <title>SnoutPage</title>
  <link href="{% static "images/favicon.ico" %}"  rel="icon" type="image/x-icon" />


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>

  <link rel="stylesheet" href={% static "css/styles.css" %}>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<header>
<nav class="navbar navbar-default navbar-fixed-top" id = "navbar-top">
  <div class="container-fluid">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id = "logoLink"class="navbar-brand" href="{% url 'index' %}"><img class = "img-rounded" id = "logo" src="{% static "images/logo.png" %}"></a>
    </div>
	<ul class= "nav navbar-nav collapse navbar-collapse"  id="myNavbar">
      <li class="active"><a href="{% url 'category_list' %}">Categories</a></li>
	</ul>

    <form class="navbar-form navbar-left collapse navbar-collapse"  id="myNavbar" action="/search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
       <ul class="nav navbar-nav navbar-right collapse navbar-collapse"  id="myNavbar"


		<li>
      {% if user.is_authenticated %}
      {% load socialaccount %}
      {% get_social_accounts user as accounts %}
      {% get_providers as socialaccount_providers %}
      {% if accounts %}
      <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"  class="img-rounded" id = "userAvatar">
      {% else %}
      {% if imagedata.image %}
      <img src = "{{imagedata.image.url}}"class="img-thumbnail"  class="img-rounded" id = "userAvatar">
      {% endif %}
      {% endif %}


		<li><a href = "{% url 'user_page' user.username %}">User Profile</a></li> <!-- Link to user profile-->

		<li>
			<a href ="{% url 'logout' %}">Logout</a> <!-- Link to Logout page-->
     </ul>
 {% else %}
  <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text" >Already have an account?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
								<a href="{% provider_login_url 'facebook' method='oauth2' next='http://127.0.0.1:8000/#_=_' %}"Login with Facebook class = "btn btn-fb"><i class ="fa fa-facebook"></i>Facebook</a> <!-- change next value after hosting on python anywhere -->
								</div>
                                or
								 <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">

										<div class="form-group">
										{% csrf_token %}
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>

											 <input type ="text" class = "form-control" placeholder = "Username" name = "username" value ="">
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" name ="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>

										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>

								 </form>
							</div>
							<div class="bottom text-center">
								Don't have an account?  <a href="{% url 'register' %}"><b>Register</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>

    </div>
  </div><!-- /.container-fluid -->
</nav>



</header>
<body>
{% endif %}
<div class='container-fluid' id = "after-header">


{% block body_block %}
{% endblock %}

</div>
</body>
</html>
