{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="panel panel-default">
  <div  style="font-size:50px;"id ="category-list-panel" class="panel-body">
 
 
 <div class="container-fluid">
 <br>
  <div class="row" style=" height:400px;">
  
    <div id="category2" class = "col-sm-3"><div id="anti-rotate"><a href="#dog">Dogs</a>
	<img src="https://openclipart.org/download/286632/Sitting-Dog-Silhouette.svg" /></div>
	</div>
	
	<div id="category" class = "col-sm-3"><div id="anti-rotate"><a href="#cat">Cats</a>
	<img src="https://openclipart.org/download/191701/cat-silhouette-snowshoe.svg" /></div>
	
	</div>
	
	<div id="category" class = "col-sm-3"><div id="anti-rotate"><a href="#parrot">Parrots</a>
	<img src="https://openclipart.org/download/287908/Parrot-Silhouette.svg" /></div>
	
	</div>
	
	<div id="category" class = "col-sm-3"><div id="anti-rotate"><a href="#exotic">Exotics</a>
	<img src="https://openclipart.org/download/298284/gecko-clip-art-publicdomainvectors.svg" /></div>
	
	</div>
	
  </div>
</div>
 
  
  
  


  </div>
</div>



{% endblock %}