{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}

{% block body_block %}


<div class= "row">
<div class = "col-xs-5">
<img src = "{{picture}}">
</div>
<div class="col-xs-7">

<div class="container">
  <div id = "pet-name-jumbo"class="jumbotron">
   <h1>{{name}}</h1>	
  </div>
</div>


<div class = "panel panel-default">
<div class="panel-heading">Popularity stats</div>

<span class="label" id = "popularity-text">Overall number of likes: </span> <span class="badge"> 5</span> <span class= "glyphicon glyphicon-thumbs-up"> </span> <!----------------- pet overall number of likes on pet's posts-------->

<br>

<span class="label" id = "popularity-text">Overall number of comments: </span> <span class="badge"> {{comment_number}} </span> <span class= "glyphicon glyphicon-comment"> </span>  <!----------------- pet overall number of comments on pet's posts -------->
<a  href="{% url 'add_post' slug %}" class="btn btn-primary btn-sm pull-right" role="button">Add Post</a>
<br>

<span class="label" id = "popularity-text">Overall number of posts: </span> <span class="badge"> {{post_number}} </span> <span class= "glyphicon glyphicon-asterisk"> </span>  <!----------------- pet overall number of posts -------->



</div>
</div>
</div>

<div class = "row" id ="pet-page-content">

<div class = "col-lg-5">
<div class="panel panel-default"  id = "pet-panel-panel" >
  <div class="panel-heading" id = "pet-posts-label">Pet's description</div>
  <div class="panel-body">
  
  <blockquote>
	
	Pet's category: {{category}}
	<br>
	{{description}}
	<br>
	
	 Owned by: <a href="{% url 'user_page' owner.username %}">{{owner}}</a>
	

	</blockquote>

  
  
</div>
</div>
</div>





<div class="col-lg-7">
<div class="panel panel-default" id = "pet-panel-panel" >
  <div class="panel-heading" id = "pet-posts-label">Pet's posts</div>
  <div class="panel-body" id = "pet-panel-post-body">
  
   <!-- Trigger the modal with a button -->
 <!-- For Post create a link ----------------------------------------------->
 
  {% if posts %}
  
        {% for post in posts %}
	
   <div class="list-group">
  <!--<a href="{% url 'post' post.slug %}" data-toggle="modal" data-target="#myModal"  class="list-group-item">{{ post.title }}</a>-->
  <a href="{% url 'post' post.slug %}"   class="list-group-item">{{ post.title }}</a>

  
  <!-- Trigger the modal with a button -->
 <!-- For Post create a link ----------------------------------------------->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ post.title }}</h4>
      </div>
      <div class="modal-body">
	  <img src= "{{post.picture}}">
        <p>{{post.description}}</p>
      </div>
      <div class="modal-footer">
	  <p class= "pull-left">{{post.tag}}</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
   {% endfor %}
   </div> 
  {% else %}
   <h1 align="center"><mark>{{name}} has no posts yet.<mark></h1>
    {% endif %}

	</div>
</div>
</div>

</div>


{% endblock %}
