{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}

{% block body_block %}



    {% if posts %}


		 <div class="panel panel-default">

      <div class="panel-body" id = "index-post-list">
	  <div class="list-group">
	   {% for post in posts %}

  <div class="panel panel-default" id="index-post-wrap">
  <div class="panel-body" id="index-post-wrap">
   <a href="{% url 'post' post.slug %}"   class="list-group-item">
     {% if post.image %}
  <img src= "{{post.image.url}}" class= "img-circle" id ="index-post-pic">
  {% endif %}
  {{ post.title }} - {{post.description}}
  </a>

  </div>
  <div class="panel-footer">Posted on {{ post.created_date}} from <a href="{% url 'user_page' post.author.username %}">{{post.author.username}}</a> 's
 {{post.pet.category}} - <a href="{% url 'pet' post.pet.slug %}">{{post.pet.name}}</a> </div>
</div>





	<!--<li><a href="{% url 'post' post.slug %}">{{ post.title }}</a></li>
	<!--<li></li>
	<li>{{post.description}}</li>
	<li>{{post.tag}}</li>-->

        {% endfor %}
		</div>
	  </div>
    </div>
		 <
    {% else %}
    <strong>category has no posts yet!.</strong><br/>
    {% endif %}


{% endblock %}
