{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
    <ul>
	<li>{{title}}</li>
	<li>{{picture}}</li>
	<li>{{category}}</li>
	<li>{{description}}</li>
	<li> {{pet.name}}</li>
	<li> {{likes}}</li>
	<li>{{created_date}}</li>
	<li> {{author}} </li>
</ul>
	
	<!-- {% if not_liked_by_user %}
	<strong>Like this post if you like it!</strong><br/>
<div id="like">
<ul>
	<form id="PostLikeForm" method="post" action ="{% url 'add_post' pet.slug %}"/>
	{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
	<input type="submit" name="submit" value="Add Post" action ="{% url 'pet' pet.slug %}"/>
	</form>
</ul>
{% else %}
    <strong>You have liked this post!</strong><br/>
    {% endif %} -->
  
    <div id="comments">
<a  href="{% url 'add_comment' slug  %}" class="btn btn-primary btn-sm pull-right" role="button">Add Comment</a>
    {% if comments %}
    <ul>
        {% for comment in comments %}
	<li>{{comment.author}}</li>
	<li>{{comment.description}}</li>
	<li>{{comment.created_date}}</li>

        {% endfor %}
    </ul>
    {% else %}
    <strong>post has no comments yet!.</strong><br/>
    {% endif %}

    </div>
{% endblock %}