{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
    <ul>
	<li>{{title}}</li>
	<li>{{picture}}</li>
	<li>{{category}}</li>
	<li>{{description}}</li>
	<li> {{pet.name}}</li>
	<li> {{likes}}</li>
	<li>{{created_date}}</li>
	<li> {{author}} </li>
	
	

</ul>
  
    <div id="comments">

    {% if comments %}
    <ul>
        {% for comment in comments %}
	<li>{{comment.author}}</li>
	<li>{{comment.description}}</li>
	<li>{{comment.created_date}}</li>

        {% endfor %}
    </ul>
    {% else %}
    <strong>post has no comments yet!.</strong><br/>
    {% endif %}

    </div>
{% endblock %}