{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}
{% block title_block %}

{% endblock %}

{% block body_block %}
<div class="panel panel-default">
 <div class= "panel-heading">{{title}}</div>
  <div class="panel-body" id = "post-body">
    {% if image %}
  <img src=  '{{image.url}}' style = "height:500px text-align:center;" alt = "Post image">
  {% endif %}
    <div class="panel panel-default">
  <div class="panel-body">{{description}}</div>
</div>

  </div>

  <div class="panel-footer">Posted on {{created_date}} from <a href="{% url 'user_page' author.username %}">{{author.username}}</a> in <a href="{% url 'post_category' category %}">{{category}}</a></br>




{% if user.is_authenticated %}
{% if not_liked_by_user %}


<form method='POST'>
    {{form.as_p}}
    <button type="submit"  name="like">Like </button>
    </form>

{% else %}
<strong>You have liked this post!</strong><br/>
{% endif %}

{% else %}
<strong>Log in to like and comment on this post!</strong><br/>
{% endif %}




{% if comments %}

  <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">View comments</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Comments</h4>
      </div>
      <div class="modal-body" id = "post-comment-modal-body">


	  {% for comment in comments %}


	 <div class="panel panel-default">
  <div class="panel-body">{{comment.description}}</div>
  <div class="panel-footer">Comment made by : <a href="{% url 'user_page' comment.author %}">{{comment.author}}</a> on {{comment.created_date}}</div>
</div>

        {% endfor %}





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endif %}
{% if user %}
  <a  href="{% url 'add_comment' slug  %}" class="btn btn-primary btn-sm pull-right" role="button">Add Comment</a>
{% endif %}


  </div>
</div>



{% endblock %}
