{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}
<head>
<title>
Register
</title>
<script>
$(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		}); 	
	});
</script>
</head>
{% block body_block %}

{% if user.is_authenticated %}

<div class="container">
  <div class="jumbotron">
    <h1>You are already registered!</h1>
    <p><a href = "{% url 'index' %}"> Return to homepage</a></p>
  </div>
</div>
{% else %}

	<body>
		<div class="container" id = "register-body">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title"><b>Sign up for SnoutPage</b></h1>
	               		<hr />
	               	</div>	
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" form id = "user_form" method = "post" action ="{% url 'register' %}" enctype="multipart/form-data"> <!-- Changed the action here -->
					
					
					{% csrf_token %}
					
					
					
						<div class="form-group" id = "mobilefix">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input data-toggle="tooltip" title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only." type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group" id = "mobilefix">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

						

						<div data-toggle="tooltip" title="Required" class="form-group" id= "mobilefix">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						
						

						<div class="form-group ">
							<button type = "submit" name = "submit" value= "Register" class="btn btn-primary btn-lg btn-block login-button">Register</button> <!-- the button should be alright as well -->
						</div>
					</form>
				</div>
			</div>
		</div>


{% endif %}
{% endblock %}