{% extends "SnoutPage/base.html" %}
{% load staticfiles %}


{% block body_block %}



{% if posts %}


      <ul>
          {% for post in posts %}
          <div>
              <a href="/post/{{post.slug}}"><div class="outline"  style="width:100%;margin: 0 auto;padding:: 10px;height:150px;margin: 20px 0;background-color:#F8F8F8"></a>
              <a href="/post/{{post.slug}}">{{ post.title }}</a>
              <img src="{{MEDIA_URL}}{{post.image}}">
              <p>{{ post.author }}</p>


          </div>

          {% endfor %}

      </ul>
      {% else %}
        <strong>There are no posts present.</strong>
      {% endif %}

{% endblock %}