{% extends "SnoutPage/base.html" %}
{% load staticfiles %}


{% block body_block %}


<div class="panel panel-default">
  <div class="panel-heading"><h3>You searched for: <mark>{{query}}</mark>	</h3>
  Show results in: <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#posts">Posts</a></li>
  <li><a data-toggle="tab" href="#users">Users</a></li>
  
</ul></div>

  <div class="panel-body">
 
  <div class="tab-content" style="height:69vh;">
  <div id="posts" class="tab-pane fade in active">
     
	
	{% if posts %}


		 <div class="panel panel-default"  style= "height:68vh; overflow:auto;" >

      <div class="panel-body" style= "height:73vh;">
	  <div class="list-group">
	   {% for post in posts %}

  <div class="panel panel-default" id="index-post-wrap">
  <div class="panel-body" id="index-post-wrap">
   <a href="{% url 'post' post.slug %}"   class="list-group-item">


     {% if post.image %}
  <img src= "{{post.image.url}}" class= "img-thumbnail" id ="index-post-pic">
  {% endif %}
  {{ post.title }}
  {% if post.description%}
   - {{post.description}}
  {% endif %}
  </a>

  </div>
  <div class="panel-footer">Posted on {{ post.created_date}} from <a href="{% url 'user_page' post.author.username %}">{{post.author.username}}</a> 's

 <a href="{% url 'post_category' post.category %}">{{post.category}}</a> - <a href="{% url 'pet' post.pet.slug %}">{{post.pet.name}}</a> 

 
 </div>
</div>
  

        {% endfor %}
		</div>
	  </div>
    </div>
    {% else %}
    <strong>No posts found that match the query.</strong><br/>
    {% endif %}
	  
  </div>
  
  
  
  
  <div id="users" class="tab-pane fade">
  {% if users %}
   <div class="list-group">
    <div class="panel panel-default">
          <div style= "height:70vh;" class="panel-body scrollable-panel">
  
	 {% for user in users %}
   
   

	


			 <a href="{% url 'user_page' user.username %}" class="list-group-item text-left"> <!-- ----------------------------------------------------------------------- Link to users page -->
		{% if user.imagedata.image.url %}
		<img src = "{{user.imagedata.image.url}}" class = "img-thumbnail" id="search-user-img">			<!-- ------------------------------------------------------user image --> 
		{% else %}
        <img class="img-thumbnail" src="https://bootdey.com/img/Content/User_for_snippets.png"> 
		{% endif %}
        <label>
            {{user.username}}<br> <!-- ----------------------------------------------------------------------- Friends name -->
        </label>
		</a>
{% endfor %}





          </div> <!-- End of Scrollable panel -->
        </div>
   </div>
   
     {% else %}
	 <strong>No users found that match the query.</strong>
	 {% endif %}
   
  </div>
  
</div>



	  </div>
</div>
	  
{% endblock %}