{% extends 'SnoutPage/base.html' %}
{% load staticfiles %}

{% block body_block %}



<div class="container-fluid" id = "user-page-top">
	
 
  <div class="row">
    <div class="col-sm-5" style="background-color:lavender;">
		<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="img-thumbnail" id = "user-page-avatar">
		<h1>{{user.username}}</h1>
	
	</div>
    <div class="col-sm-7" style="background-color:lavenderblush;">.col-sm-8</div>
  </div>
</div>


<h3> User Page </h3>
Hello {{user.username}}!
<br />
:
<ul>
	<li> <a href = "{% url 'edit_pet' %}" >Edit pets </a></li>
	<li> <a href = "{% url 'edit_user' %}" >Edit User </a></li>
	<li> <a href = "{% url 'add_pet' %}" >Add pet </a></li>
</ul>

These will appear if the user is looking at their own, or another's page:
<ul>
<li><a href = "#" >Add friend </a></li>

<li>Description box here</li>

<li>List of pets(links)</li>

<li>List of friends(links)</li>
{% endblock %}

